@using EtsSupplier.Model;
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title="眉州东坡订餐中心";
}



<div id="ets-main">

    <div class="">
        <!-------------------->

        <div class="w730 fl">
            <h3 class="ico-line" style="background-position: 0px center">店铺列表</h3>
            <div class="bdcon">
                <div class="citychoose">
                    <div class="wrapbox">

                        <dl class="city-box">
                            <dt>城市</dt>
                            <dd><a class="on" for="1010" href="javascript:void(0);">北京(33)</a></dd>
                        </dl>
                        <dl class="area-box">
                            <dt>区域</dt>
                            <dd>
                                <a class="on" href="javascript:void(0);" onclick="showli(this,'all')">全部(33)</a>
                                <a href="javascript:void(0);" onclick="showli(this,'chaoyang')">朝阳区(19) </a>
                                <a href="javascript:void(0);" onclick="showli(this,'haidian')">海淀区(5) </a>
                                <a href="javascript:void(0);" onclick="showli(this,'fentai')">丰台区(2) </a>
                                <a href="javascript:void(0);" onclick="showli(this,'dongcheng')">东城区(3) </a>
                                <a href="javascript:void(0);" onclick="showli(this,'daxing')">大兴区(2) </a>
                                <a href="javascript:void(0);" onclick="showli(this,'tongzhou')">通州区(1) </a>
                                <a href="javascript:void(0);" onclick="showli(this,'shijingshan')">石景山区(1) </a>
                            </dd>
                        </dl>
                    </div>
                </div>


            </div>
            <div class="search_content">
                <ul id="contentul">
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlwjd/">眉州东坡酒楼(望京店)</a></h3>
                            <address>北京市朝阳区广顺南大街望京10号院6号楼<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlwjd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjljsd1/">眉州东坡酒楼（劲松店）</a></h3>
                            <address>北京市朝阳区劲松中街208号劲松京客隆对面<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjljsd1/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlzhqd/">眉州东坡酒楼(长虹桥店)</a></h3>
                            <address>北京市朝阳区白家庄东里乙20号楼<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlzhqd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="dongcheng">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlcxld1/">眉州东坡酒楼(春秀店)</a></h3>
                            <address>北京市东城区春秀路7号红驿栈对面<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlcxld1/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="haidian">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlzgcd/">眉州东坡酒楼（中关村店）</a></h3>
                            <address>北京市海淀区中关村大街27号中关村大厦二层<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlzgcd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="haidian">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlwgcd/">眉州东坡酒楼(魏公村店)</a></h3>
                            <address>海淀区魏公村民族大学北路18号(韦伯豪家园对面)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlwgcd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="haidian">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlwlhld/">眉州东坡酒楼（万柳店）</a></h3>
                            <address>北京市海淀区巴沟路2号华联万柳购物中心<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlwlhld/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlsjd/">眉州东坡酒楼（尚街店）</a></h3>
                            <address>北京市朝阳区甘露园南里25号朝阳园8号楼尚街购物中心三层<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlsjd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="fentai">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlbqd/">眉州东坡酒楼(恋日店）</a></h3>
                            <address>北京市丰台区草桥欣园1区五号楼<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlbqd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjltjhd/">眉州东坡酒楼（团结湖店）</a></h3>
                            <address>北京市朝阳区团结湖东里朝阳体育馆西侧<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjltjhd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxcgacd1/">眉州东坡小吃(国奥村店)</a></h3>
                            <address>朝阳区林萃东路2号院甲3号楼国奥中心A座1楼(近国奥花园酒店)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxcgacd1/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlbyd/">眉州东坡酒楼(博雅店)</a></h3>
                            <address>北京市朝阳区利泽中一路1号博雅国际中心<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlbyd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjllltd/">眉州东坡酒楼（六里屯店）</a></h3>
                            <address>北京市朝阳区六里屯西里朝阳体育馆西侧口内<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjllltd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlyycd/">眉州东坡酒楼(亚运村店)</a></h3>
                            <address>北京市朝阳区慧忠北里111楼<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlyycd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlgacd/">眉州东坡酒楼(国奥村店)</a></h3>
                            <address>北京市朝阳区林萃东路2号院甲3号楼国奥中心A座1层<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlgacd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlbyd1/">眉州东坡酒楼(北苑店)</a></h3>
                            <address>北京市朝阳区北苑家园春华路秋实街一号易事达五层<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlbyd1/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlfhd/">眉州东坡酒楼(泛海店)</a></h3>
                            <address>北京市朝阳区星火西路17号三层<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlfhd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlzrd/">眉州东坡酒楼(中日店)</a></h3>
                            <address>北京市朝阳区樱花东街中日友好医院南侧<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlzrd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjljtd/">眉州东坡酒楼(将台店)</a></h3>
                            <address>北京市朝阳区六里屯西里朝阳体育馆西侧口内<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjljtd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlcgzd/">眉州东坡酒楼(葡萄庄园店）</a></h3>
                            <address>北京市朝阳区崔各庄奶东村林业站吉祥寺桥东<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlcgzd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="dongcheng">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlwfjd/">眉州东坡酒楼(王府井店)</a></h3>
                            <address>北京市东城区王府井大街88号北京乐天银泰百货7F<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlwfjd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="dongcheng">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlcwmd/">眉州东坡酒楼(崇文门店)</a></h3>
                            <address>北京市东城区东打磨厂街7号新世界百货2F<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlcwmd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="fentai">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlftd/">眉州东坡酒楼(丰台店)</a></h3>
                            <address>丰台区游泳场北路9号(近嘉诚广场)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlftd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="shijingshan">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlsjsd/">眉州东坡酒楼(石景山店)</a></h3>
                            <address>石景山区石景山路22号<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlsjsd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="daxing">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlyzd/">眉州东坡酒楼(亦庄店)</a></h3>
                            <address>北京市亦庄经济开发区宏达北路18号<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlyzd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="daxing">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjlhcd/">眉州东坡酒楼(大兴店）</a></h3>
                            <address>北京市大兴区黄村镇龙和街133号<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjlhcd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="tongzhou">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpjltzd/">眉州东坡酒楼(通州店)</a></h3>
                            <address>北京市通州区中仓路10号<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpjltzd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxcsjd/">眉州东坡小吃(尚街店)</a></h3>
                            <address>朝阳区青年路甘露园南里25号尚街购物中心3楼<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxcsjd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxcyycd/">眉州东坡小吃(亚运村店)</a></h3>
                            <address>朝阳区慧忠北里111号楼(眉州东坡酒楼右)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxcyycd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxcwjd/">眉州东坡小吃(望京店)</a></h3>
                            <address>朝阳区利泽中一路1号博雅大厦B1楼(近叶青大厦)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxcwjd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="chaoyang">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxcbyd/">眉州东坡小吃(北苑店)</a></h3>
                            <address>朝阳区北苑家园易仕达广场世代百货5楼<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxcbyd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="haidian">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxcwgcd/">眉州东坡小吃(魏公村店)</a></h3>
                            <address>海淀区魏公村民族大学北路18号(韦伯豪对面)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxcwgcd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                    <li area="haidian">
                        <div class="info">
                            <h3><a target="_blank" href="http://www.4008527527.com/mzdpxczgcd/">眉州东坡小吃(中关村店)</a></h3>
                            <address>海淀区中关村大街27号中关村大厦B2楼(地铁海淀黄庄站北)<i></i></address>
                        </div>
                        <div class="legend"><a target="_blank" href="http://www.4008527527.com/mzdpxczgcd/" class="viewbtn" rel="nofollow">立即查看</a></div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="w240 fr">
            <div class="promes">
                <h2>订台服务说明</h2>
                <ul>
                    <li>您可订未来2周内任意天的中餐和晚餐，提前预订可以保障您的订台有效；</li>
                    <li>如临时取消订台，也请致电餐厅客服电话，取消服务；</li>
                </ul>
            </div>
            <div class="blank10"></div>
            <div class="promes">
                <h2>外卖服务说明</h2>
                <ul>
                    <li>外卖服务时间：11:00-20:00</li>
                    <li>为避免就餐高峰时段送餐紧张，请您提前1小时预订外卖；</li>
                    <li>服务费用，根据每个门店略有不同，请阅读每家店铺详情；</li>

                </ul>
            </div>
            <div class="blank10"></div>
            <div align="right"><a href="http://www.4008527527.com/app/" target="_blank">
                <img src="http://static.4008527527.com/canting/images/restaurant/app1.jpg" width="240" height="132" /></a></div>

        </div>
        <!--------------------->

        <div class="clear"></div>
    </div>


</div>
<script language="javascript">
    var li = $('#contentul li'), num = li.length;
    function showli(obj, str) {
        $(obj).addClass('on').siblings().removeClass('on');
        switch (str) {
            case 'all':
                li.show();
                break;
            case 'chaoyang':
                li.hide();
                area('chaoyang');
                break;
            case 'dongcheng':
                li.hide();
                area('dongcheng');
                break;
            case 'chongwen':
                li.hide();
                area('chongwen');
                break;
            case 'changping':
                li.hide();
                area('changping');
                break;
            case 'fentai':
                li.hide();
                area('fentai');
                break;
            case 'haidian':
                li.hide();
                area('haidian');
                break;
            case 'shijingshan':
                li.hide();
                area('shijingshan');
                break;
            case 'tongzhou':
                li.hide();
                area('tongzhou');
                break;
            case 'daxing':
                li.hide();
                area('daxing');
                break;
        }
    }
    function area(str) {
        li.each(function (i) {
            if (li.eq(i).attr('area') == str) {
                li.eq(i).show();
            }
        })
    }

</script>
