/*index*/
.inserch {
	border: 1px solid #C3C3C3;
	height: 24px;
	line-height: 24px;
	width: 140px
}

.anony-nav {
	overflow: hidden;
	background: #E9EEF2;
	margin-bottom: 10px;
	border-radius: 5px;
}

.anony-nav .reg {
	background: #E9EEF2;
	color: #666666;
	float: left;
	font-size: 14px;
	line-height: 1.6;
	width: 590px;
}

.anony-nav .reg strong {
	float: left;
	font-size: 24px;
	height: 80px;
	padding-top: 46px;
	text-align: center;
	width: 200px;
}

.anony-nav .reg div {
	padding: 45px 0 18px;
}

.anony-nav .reg b {
	font-size: 16px;
	font-weight: 400;
	margin-right: 5px;
}

a.lnk-reg:link,a.lnk-reg:visited,a.lnk-reg:hover,a.lnk-reg:active {
	background: url("ui_nav_logo_4.png") no-repeat scroll -120px -48px
		transparent;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 27px;
	line-height: 28px;
	text-align: left;
	width: 130px;
}

.anony-nav .reg em {
	color: #666666;
	font-size: 12px;
	font-style: normal;
}

.anony-nav .reg strong {
	float: left;
	font-size: 24px;
	height: 80px;
	padding-top: 55px;
	text-align: center;
	width: 200px;
}

.anony-nav .reg .lnk-reg strong {
	color: #FFFFFF;
	float: none;
	font-size: 16px;
	font-weight: 400;
	margin: 0 10px 0 16px;
	padding: 0;
}

.anony-nav .login {
	background: #E9EEF2;
	float: right;
	font-size: 14px;
	width: 380px;
	border-left: #fff solid 5px
}

.anony-nav .login form {
	padding: 23px 0 0 20px;
	position: relative;
}

.anony-nav legend {
	display: none;
}

.anony-nav fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

fieldset legend {
	color: #666666;
	padding: 0 5px;
}

.anony-nav .login .item {
	margin-bottom: 10px;
	line-height: 32px;
}

.anony-nav .item label {
	width: 4em;
	float: left;
	text-align: right;
}

label {
	font-family: Tahoma;
	vertical-align: middle;
}

.anony-nav .item input {
	padding: 3px 2px;
	width: 200px;
}

.anony-nav .login .item a {
	font-size: 12px;
}

.anony-nav .login .item1 {
	color: #666666;
	float: left;
	font-size: 12px;
	margin: 0 2px 10px 0;
}

.anony-nav .login .item1 label {
	display: inline-block;
	margin-left: 4.5em;
	margin-top: 4px;
}

.anony-nav .bn-submit {
	background: url("ui_nav_logo_4.png") no-repeat scroll -23px -48px
		transparent;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	padding-bottom: 3px;
	width: 80px;
}

/*活动*/
.events-list li {
	float: left;
	height: 140px;
}

.events-list .pic {
	float: left;
	height: 75px;
	overflow: hidden;
	width: 75px;
}

.events-list .pic {
	margin-right: 10px;
}

.events-list .info {
	float: left;
	width: 205px;
}

.events-list .title {
	line-height: 1.5;
	margin-bottom: 5px;
}

.events-list .info a {
	font-size: 14px;
}

.events-list .datetime {
	margin-bottom: 5px;
}

.events-list address {
	color: #666666;
	display: block;
	font-style: normal;
}

.events-list .followers {
	color: #999999;
}

#db-sidesrh {
	width: 100%;
}

#db-sidesrh {
	float: left;
	margin-bottom: 20px;
}

.aside .mod {
	margin: 0 0 40px;
}

#db-sidesrh form {
	float: right;
	width: 100%;
}

#db-sidesrh input {
	float: left;
}

#db-sidesrh input {
	border: 1px solid #C3C3C3;
	height: 24px;
	line-height: 24px;
}

#db-sidesrh .inp input {
	padding: 0 2px;
	vertical-align: baseline;
	width: 246px;
}

.hide {
	display: none;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

.submenu {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #B6C9C1 #B6C9C1 #B6C9C1 -moz-use-text-color;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px medium;
	float: left;
	height: 21px;
	margin: 0 2px 0 -5px;
	padding: 2px 0 1px;
	position: relative;
	width: 45px;
}

#db-sidesrh .submenu,#db-sidesrh .submenu .selected,#db-sidesrh .submenu .menu
	{
	border-color: #C3C3C3;
}

.submenu .selected {
	border-left: 1px solid #B6C9C1;
	cursor: pointer;
	padding: 0 0 0 5px;
}

.submenu .selected span {
	background: url("ui_ns_sbg4.png") no-repeat scroll -240px -124px
		transparent;
	height: 5px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	top: 10px;
	width: 7px;
}

#db-sidesrh .submenu .selected span {
	background-image: url("ui_ns_sbg3.png");
	background-position: -450px -124px;
}

.submenu .menu {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B6C9C1;
	position: absolute;
	right: -1px;
	top: 24px;
	width: 85px;
}

#db-sidesrh .submenu .menu {
	width: 60px;
}

#db-sidesrh .bn-srh {
	background: url("ui_ns_sbg3.png") no-repeat scroll -360px -100px
		transparent;
	border: medium none;
	cursor: pointer;
	height: 26px;
	letter-spacing: 3px;
	margin: 0 0 0 2px;
	padding-bottom: 2px;
	padding-left: 1px;
	width: 50px;
	line-height: 24px;
}

/****************/
.subitem {
	left: 20px;
	position: absolute;
	top: 23px;
	width: 95%;
}

.sub-item {
	border-bottom: 1px solid #E8E8E8;
	float: left;
	height: 72px;
	margin: 0 2px 15px 0;
	overflow: hidden;
	width: 49%;
}

.sub-item .pic {
	float: left;
	display: table-cell;
	height: 48px;
	padding-right: 1em;
	vertical-align: top;
	width: 48px;
}

.sub-item .info {
	color: #666666;
	display: table-cell;
	vertical-align: top;
	word-wrap: break-word;
}

.sub-item .pic img {
	height: 48px;
	margin-bottom: -3px;
	width: 48px;
}

.sub-item p {
	margin: 0;
	width: 220px;
}

/*infomenu*/
.infocontent {
	font-size: 14px;
	line-height: 25px;
}

.infomenu {
	overflow: hidden;
}

.infomenu ul {
	
}

.infomenu ul li {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.infomenu ul li a {
	padding: 5px 10px;
}

.infomenu .select {
	background: #F0F0F0;
	font-weight: bold;
	padding: 5px 10px;
}
/**热门话题**/
.topic-list{}
.topic-list dl{ margin-bottom:20px; border-bottom:#E8E8E8 solid 1px; padding-bottom:20px}
.topic-list dl .title{ font-size:16px; margin-bottom:5px}
.topic-list dl .title span{ float:right;  }
.topic-list dl .title span a{ color:#fff;background-color:#8096b3;padding:0px 4px; border-radius:3px;}
.topic-list dl .title span a:hover{ background-color:#336699}
.topic-list dl dt{ float:left; width:48px; height:48px; margin-right:1em; display:table-cell; vertical-align:top; margin-top:5px}
.topic-list dl dd{ display:table-cell; vertical-align:top; width:580px}
.topic-list dl summary{ color:#929292}
.topic-list dl p{ margin-top:5px; line-height:20px}
.topic-list dl p img{ margin-left:15px}
/**活跃会员**/
.obu {
    display: inline;
    margin: 0 0 0px;
    width: 76px; float: left;
}
.obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.obu dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
/*****相册******/
.joykumodel{}
.joykumodel h2{ display:block; overflow: hidden;padding-bottom: 5px;}
.joykumodel h2 strong{font-family: '微软雅黑';font-size: 25px;margin-right: 5px; color:#494949}
.joykumodel h2 em{ color:#F39800}
#container{ }
#container .item {width:220px; float: left; margin-left:20px; margin-top:5px}
#container .item img{ border:#fff solid 1px;  padding:1px}
#container .item img:hover{ border:#eee solid 1px; padding:1px}
#infscr-loading { 
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 45%;
	bottom: 40px;
	width: 200px;
	padding: 10px;
	background: #000; 
    opacity: 0.8;
	filter:alpha(opacity=80);
	color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}