#search_menubar{ margin:0 auto; width:50%}
.s_menu{font-size:16px;padding:20px; text-align:center}
.s_menu a{ margin:0px 10px; border-radius:5px; padding:5px 10px}
.s_button{font-size:14px;padding:5px 10px;}
.s_hotkey{padding:10px;}

a.s_select:link, a.s_select{ color:#fff; background-color:#7FC06E;}

.s_top{padding:5px;font-size:14px;}

/**mod**/
.mod-search {
	position:relative;
	overflow:hidden;
	zoom:1;
	margin-bottom:28px;
	background-color:#f7f7f8;
	padding:7px;
}
.mod-search input {
	-webkit-appearance:none;
	border:0;
	background:transparent
}
.mod-search label {
	position:absolute;
	left:12px;
	top:10px;
	line-height:30px;
	cursor:text;
	color:#bbb
}
.mod-search legend {
	display:none
}
.mod-search fieldset {
	border:0;
	padding:0;
	margin:0
}
.mod-search .inp {
	height:30px;
	cursor:text;
	border:1px solid #dcdcdc;
	background-color:#fff
}
.mod-search .inp input {
	background:#fff;
	width:94%;
	margin:0;
	text-align:left;
	height:30px;
	padding-left:6px;
	height:28px\9;
	line-height:28px\9;
	outline:0
}
.mod-search .inp-btn {
	position:absolute;
	top:6px;
	right:6px;
	width:30px;
	height:30px;
	zoom:1;
	overflow:hidden
}
.mod-search .inp-btn input {
	width:100%;
	height:100%;
	font-size:0;
	padding:35px 0 0 0;
	overflow:hidden;
	background:url(bn_srh_1.png) no-repeat 45% 45%;
	color:transparent;
	cursor:pointer
}
/*搜索结果*/
.result {
	padding:20px 0;
    border-bottom: 1px dashed #CCCCCC;
    position: relative;
    width: 100%;
	overflow:auto;
}
.result .pic {
    float: left;
}
.result .content {
    display: table-cell;
    padding-left: 20px;
}
.result .content h3 {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: auto;
    margin: 0 0 5px;
	font-weight:normal;
}
.result .rating-info, .result .info {
    color: #999999;
    position: absolute;
    right: 10px;
}
.result .content p {
    clear: both;
    color: #666666;
    margin: 0 0 5px;
}

/*搜索帖子*/
.s_topic{padding:10px 0;}
.s_topic ul {}
.s_topic ul li{border-bottom:dashed 1px #DDDDDD; overflow: hidden;padding:10px 5px;font-size:14px;}