/* CSS Document */
body{}
#header {background-color:#f8f8f8;}
#header .site_nav .nav_logo{ background:url(logo.png) no-repeat 0px 0px;}
#nav_bar li a{ color:#b20000}
#nav_bar li a:hover{ background-color:#dd441b; color:#fff;}

a {
	cursor:pointer
}
a:link {
	color:#333;
	text-decoration:none
}
a:visited {
	color:#494949;
	text-decoration:none
}
a:hover {
	color:#fff;
	text-decoration:none;
	/*transition: all 0.3s ease-in 0s;
	-moz-transition:all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;*/
	background:#8fc63b
}
a:active {
	color:#fff;
	text-decoration:none;
	background:#8fc63b
}

.floor {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}
.floor h2{ font-size:20px; color:#333}
.floorTop{
    float: right;
    height: 36px;
    line-height: 36px;
    margin-top: -36px;
    position: relative;
    width: 80%;
}
.floorTop-nav {
    float: right;
    height: 34px;
    overflow: hidden;
    text-align: right;
    width: 520px;
}
.floorTop-nav li {
    display: inline-block;
    margin-right: -1px;
}
.floorTop-nav a {
    border-right: 1px solid #DFDFDF;
    color: #929292;
    padding: 0 10px;
}
.floorCon{}
.plist li{ float:left; display:inline-block; margin:0px 15px 0px 0px}

.focus_bar{ overflow:hidden; margin-bottom:30px}
.focus_bar .left{float:left;}
.focus_bar .right{ width:300px; float:right}
.focus_bar .create{ background-color:#8fc63b;  color:#fff; font-size:16px; padding:5px 0px; width:140px; display:inline-block; text-align:center}
.focus_bar .create:hover{ background-color:#9edc40; }

.focus_bar .post{ background-color:#c4663c;  color:#fff; font-size:16px; padding:5px 0px; width:140px; display:inline-block; text-align:center}
.marl{ float:right}
.focus_bar .post:hover{ background-color:#dd7648; }

.hottag{ overflow:hidden; margin-top:10px}
.hottag h2{ color:#8FC63B;}
.hottag .link-more{ font-size:12px; padding-left:10px; float:right}
.hottag .link-more a{ color:#CCC}
.hottag .bd ul{ border-bottom: 1px solid #EAEAEA;  margin-bottom: 6px; padding-bottom: 6px; display:block}
.hottag .bd ul li{    display: inline;float: left;margin: 0;padding: 0; width: 60px; color:#c4663c; line-height:24px}
.hottag .bd ul li a{ padding-left:2px; color:#3377aa}
.mod{margin-bottom: 30px;}


/**我的淘客**/
#db-usr-profile{ display:block; height:auto; position:relative; background-color:#fffff1; padding:10px 10px; margin-bottom:10px;}
#db-usr-profile .db-bar{ display:block; margin-bottom:10px; overflow:hidden}
#db-usr-profile .info p{ font-size:12px; line-height:25px}
#db-usr-profile .info p a{ margin:0px 10px 0px 0px}
.nav-list{ display:block; clear:both; height:40px; line-height:40px; background-color:#f7f7f7}
.nav-list li{ float:left; display:inline-block; margin:0px 10px 0px 0px;}
.nav-list li a{ font-size:13px; display:block; padding:0px 20px; text-align:center}
.nav-list li.on a{ color:#fff; background-color:#8fc63b}

#db-usr-profile .follow{ background-color:#c4663c; padding:2px 10px; color:#fff}
#db-usr-profile .sedmsg{ background-color:#ddddda; padding:2px 10px; color:#fff}
#db-usr-profile .setting-btn{ position:absolute; right:30px; top:10px; color:#fff; font-size:14px; background-color:#8fc63b; font-size:12px; border-radius:3px; padding:2px 5px}

.mine-content{ padding:10px 0px; overflow:hidden}

.mine-content li{ float:left; display:inline-block; margin:10px}
/*弹窗*/
.rectitle {
    background: none repeat scroll 0 0 #f3f3f3;
    border-top-right-radius: 6px;
}
.pop_win .bn-layout input{ padding:3px 10px;}


/*专辑*/
.album_list { margin-left:-33px}
.album_tag {padding:15px 9px;background:#F7F7F7; margin: 0 36px 10px 0;overflow:hidden;width:191px;height: 290px; display:inline}
.album_tag h3 {color:#777777; font-weight:normal;}
.album_tag .atags {padding:10px 0 0;overflow:hidden;}
.album_tag .atags a {height: 26px;line-height: 26px;padding:0 8px;color: #777; float:left;display:inline;margin:0 5px 13px 0;border: 1px solid #E6E6E6;background: white;border-radius:4px;white-space: nowrap;}
.album_tag .atags a.on {color: #84B041;font-weight: bold;border-color: #C2D5A6;}

.album_item {width: 220px;background: #f7f7f7;margin: 0 0px 30px 33px; display: inline;float: left;position: relative;}
.album_item .album_author{padding:10px;background:#f7f7f7;height:37px;overflow:hidden;}
.album_item .album_author img{height:32px;width:32px;vertical-align:top;margin:5px 0 0;}
.album_item .album_info{margin:0 0 0 38px;height:40px;overflow:hidden;width:150px;}
.album_item .album_info p{line-height:20px;height:20px;white-space:nowrap;word-wrap:normal;word-break:normal;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}

.album_item .album_author a{line-height:20px;font-weight:bold;}
.album_item .album_author .u_link,.album_item .album_author .u_link a{color:#999;font-weight:normal;}
.album_item .album_author .album_title{font-size:14px;color:#777;}
.album_item .album_author .album_title:hover,.album_item .album_author .u_link a:hover{color:#8fc63b;text-decoration:underline;background-color:transparent; }

.album_item ul {overflow: hidden; zoom: 1; width: 220px;}
.album_item .edit {display:block;width: 207px;height: 40px;position: absolute;top: 1px;left: 1px;background-color: rgba(0, 0, 0, 0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}

.album_item li {height: 54px;width: 54px;margin: 1px 0 0 1px;float: left;display: inline; overflow: hidden;}
.album_item .big {height: 220px;width: 220px;margin: 0;}
.album_item .left {margin:1px 0px 0px 0px}
.album_item .small img{}
.album_item li.small a img{opacity:0.6;filter:alpha(opacity=60); }
.album_item li a:hover{ background-color:transparent}
.album_item li a:hover img{ opacity:1;filter:alpha(opacity=100);}

.album_item .edit {width: 207px;height: 40px;position: absolute;top: 1px;left: 1px;background-color: rgba(0, 0, 0, 0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); display: none;}
.album_item .edit .add {background:url(user_icon.png) 0 -400px no-repeat;height:23px;width:80px;float:left;display:inline;margin: 8px 45px 0 9px;text-align:center;line-height:23px;color:#333333;}
.album_item .edit a {color: white;line-height: 40px;margin: 0 3px;}

.album_item h4 {padding: 6px 10px 0;margin: 0 0 4px 0;color:#666;font-size: 14px;line-height: 20px;height: 20px;overflow: hidden;}
.album_item h4 a {color:#666;}
.album_item .num {padding: 0 10px;color: #999;line-height: 18px;height: 18px;overflow: hidden;float: none;}
.album_item .num a {color: #999;}
.album_item .num a:hover {text-decoration:underline;color: #87B32E;}
.album_item .add_album {width:80px;display:block;margin:107px auto 0;text-align:center;}


/**用户浮动层**/
.user_card {position:absolute;width:300px;z-index:1000;display:none;}
.card_loading {margin:8px;background:url(loading.gif) no-repeat 8px 4px;padding-left:30px;}
.card_info {background-color: #FFFFFF;border-color: #CCCCCC;border-image: none;border-radius: 5px 5px 0 0;border-style: solid solid none;border-width: 1px;min-height: 101px;}
.card_info p {line-height: 180%;}
.card_info p .uname{ font-size:14px}
.card_info p a span {color: #87BD34; }
.card_info p a:hover span{color:#fff; text-decoration: underline;}
.card_info p img {margin: 0 2px 0 10px;vertical-align: -10%;}
.card_info p a {color: #87BD34;}
.card_info p a:hover{ color:#fff}
.card_info a.uava:hover, .card_info a.uava:hover img{ background-color:transparent}
.card_info .avatar {border-radius:3px;float: left;height: 60px;margin: 8px 13px 0 8px;width: 60px;}
.card_info .info {padding-top: 8px;position: relative; color:#000}
.card_info .intro {clear: both;line-height: 24px;overflow: hidden;padding: 0 10px;
text-overflow: ellipsis;white-space: nowrap;width: 270px;word-break: normal;word-wrap: normal; color: #999999;}
.card_toolbar {background-color: #F8F8F8;border-radius: 0 0 5px 5px;border: 1px #CCCCCC solid;
border-top: none;color: #111111;height: 34px;line-height: 33px;overflow: hidden;padding-left: 10px;}
.card_toolbar .follow { margin: 8px 10px 0 0;   background-color:#8bc039; border-radius:3px; padding:2px 8px; color:#fff;}
.card_toolbar a.follow:hover{ background-color:#96d03e}
.card_toolbar .sendmsg{  margin: 8px 10px 0 0;background-color:#dbdbdb; border-radius:3px; padding:2px 8px; color:#333;}
.card_toolbar a.sendmsg:hover{ background-color:#e4e4e4}
.card_arrow {background: url(card_arrow.png) no-repeat scroll 0 0 transparent;height: 9px;margin-left: 20px;margin-top: -1px;width: 11px;}

/**发现宝贝**/
.wall_tag {padding:15px 13px; float: left; background:#F7F7F7;margin: 0 18px 20px 0;overflow:hidden;width:200px;}
.wall_tag h3 {color:#777777; font-weight:normal;}
.wall_tag .atags {padding:10px 0 0;overflow:hidden;}
.wall_tag .atags a {height: 26px;line-height: 26px;padding:0 8px;color: #777; float:left;display:inline;margin:0 7px 13px 0;border: 1px solid #E6E6E6;background: white;border-radius:4px;white-space: nowrap;}
.wall_tag .atags a.on {color: #84B041;font-weight: bold;border-color: #C2D5A6;}

.wall_item {float:left; width:226px;margin:0 16px 20px 0;background-color:#F7F7F7;border-radius:3px; border:1px solid #F7F7F7;overflow:hidden;}
.wall_item .pic{padding:8px 0; background-color: #FFFFFF;}
.wall_item .pic li{text-align:center;position:relative;overflow:hidden;}
.wall_item .pic li img{vertical-align:top;width:210px;}
.wall_item .pic li .p {background-color:rgba(0, 0, 0, 0.2);border-radius:3px 3px 3px 3px;bottom:8px;right:16px;color:#FFFFFF;display:block;height:16px;line-height:16px;padding:0 2px;position:absolute;}
.wall_item .favorite {border-bottom:1px solid #EEEEEE;background-color: #FFFFFF;height:23px;padding:0 13px 11px 12px;position:relative;}
.wall_item .favorite .like {background: url(item_like.png) no-repeat scroll 0 0 transparent;display: block;float:left;height:26px;overflow: hidden;text-indent: -9999em;width: 62px;}
.wall_item .favorite .like_n a{background: url(item_like.png) no-repeat scroll -64px 0 transparent;color: #878787;display: block;float: left;font-size: 12px;font-weight: bold;height: 26px;line-height: 26px;margin-left: 2px;padding-left: 8px;width: auto;}
.wall_item .favorite .like_n i {background: url(item_like.png) no-repeat scroll right 0 transparent;display: block;float: left;height: 26px;width: 5px;}
.wall_item .favorite .creply_n {color: #888888;float: right;line-height:23px;}
.wall_item .favorite .creply_n a {color: #888888;text-decoration: underline;}
.wall_item .favorite .creply {color:#888888;float:right;line-height:23px;margin-right:2px;}
.wall_item .author {padding:7px 13px 5px 12px;}
.wall_item .author .avt {margin:3px 7px 0 0;}
.wall_item .author .name {color:#666666;font-weight:bold;}
.wall_item .intro {padding:0 13px 10px 12px;}
.wall_item .rep_list {background:none repeat scroll 0 0 #F7F7F7;border-top:1px solid #F0F0F0;padding:7px 13px;}
.wall_item .rep_list .rep_f {margin:0 0 4px;overflow:hidden;padding-bottom:0;}
.wall_item .rep_list .avt {height:20px;width:20px;margin-right:3px;}
.wall_item .rep_list .rep_content {color:#AAAAAA;line-height:20px;max-height:40px;overflow:hidden;width:175px;}
.wall_item .del_item { background: url(del_icon.png) no-repeat scroll 0 0 transparent; display: none; position: absolute; height: 19px; width: 19px; left: 15px; top: 15px; z-index: 9999;}


/**site-tags**/
.site-tags{
  width:400px; 
}
.site-tags dd{
	background-color: white;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 3px 3px 3px 0;
    padding: 2px 12px;
}
.site-tags dd:hover{ background-color:#f2f2f2; border-radius:2px;}
.site-tags dd.selected, .site-tags dd.selected:hover{ background-color: #F5F5F5;color: #999999;}

